body {
    background-color: aliceblue;
    color: rgb(99, 91, 91);
}

.spacerDiv {
    height: 80px;
}

.btn-quantity {
    display: flex;
    align-items: center;
}


.btn-cart {
    display: flex;
    column-gap: 10px;
}

.add-items {
    text-decoration-line: none;
}

.subtotal-btns-div {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.form-Container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.checkout-stepper-btn-div {
    display: flex;
    justify-content: space-between;
}

.pay-btn {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.confirmation {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
}